<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="wap-font-scale" content="no">
<title>首页</title>
<meta name="keywords" content="张永恒, foreverZ, 案例库" />
<meta name="description" content="" />
<!--[if lt IE 9]><script>alert('您的浏览器版本过低，请更新本版本浏览器，或更换为诸如谷歌浏览器的现代浏览器')</script><![endif]-->
<style>
*, *:before， *:after {
  box-sizing: border-box;
}
body, .body {
  overflow: hidden;
}
.body {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  max-width: 768px;
  margin: auto;
}
.main {
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
}
.header, .footer {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
}
pre {
  padding: .5rem 1rem;
  background: #fff;
  overflow: auto;
}
.copyright {
  background: #fff;
  padding: .3rem .8rem;
  font-size: .9em;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.cover {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
</style>
</head>

<body>
<div class="body">
  <header class="header"></header>
  <main class="main">
    <p>根据 <a href="https://github.com/DMQ/mvvm" target="_blank">别人博客</a> 所写，按 Vue.js 的核心原理（数据劫持和订阅发布）来实现一个简陋的 MVVM 框架</p>
    <p>能支持数据绑定，双向绑定，添加事件。暂不支持数组，列表或条件渲染。</p>
    <pre><code>
&lt;div id="mvvm-app">
  &lt;input type="text" v-model="word">
  &lt;p>{{word}}&lt;/p>
  &lt;button v-on:click="sayHi">change model&lt;/button>
&lt;/div>
&lt;script>
var vm = new MVVM({
  el: '#mvvm-app',
  data: {
     word: 'Hello World!'
  },
  computed: {
    'myName': function() {
      return [1];
    },
  },
  methods: {
    sayHi: function() {
       this.word = 'Hi, everybody!';
    }
  }
});
&lt;/script>
    </code></pre>
    <div id="mvvm-app">
        <input type="text" v-model="word">
        <p>{{word}}</p><p>来自 computed 的：{{myName}}</p>
        <button v-on:click="sayHi">change model</button>
    </div>
  </main>
  <footer class="footer">
    <div class="copyright">
      本案例由张永恒实现，<br>
      联系我可通过 <a href="https://github.com/foreverZ133" target="_blank">github</a> / 
      <a href="https://home.cnblogs.com/u/foreverZ/" target="_blank">cnblog</a><br>
      或者 E-mail: <a href="mailto:617754841@qq.com">617754841@qq.com</a>
    </div>
  </footer>
</div>
<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script id="mvvm">
function MVVM(options) {
  this.$options = options;
  var data = this._data = this.$options.data, me = this;
  // 用 Object.defineProperty 进行数据劫持，并保存初始数据
  Object.keys(data).forEach(function(key) {
     me._proxy(key);
  });
  // 实现 computed 初始化回调
  this._initComputed();
  // 对所有数据绑个 ID，并全部放入 Dep.subs
  observe(data, this);
  // 进行渲染
  this.$compile = new Compile(options.el || document.body, this)
}
MVVM.prototype = {
  $watch: function(key, cb, options) {
    new Watcher(this, key, cb);
  },
  _proxy: function(key, setter, getter) { // 数据劫持，全部改到 vm._data 里去
    var me = this;
    setter = setter || Object.defineProperty(me, key, {
      configurable: false,
      enumerable: true,
      get: function proxyGetter() {
         return me._data[key];
      },
      set: function proxySetter(newVal) {
        me._data[key] = newVal;
      }
    });
  },
  _initComputed: function() { // computed 初始化计算
    var me = this;
    var computed = this.$options.computed;
    if (typeof computed === 'object') {
      Object.keys(computed).forEach(function(key) {
        // me._proxy(key, null, typeof computed[key] === 'function' ? computed[key] : computed[key].get)
        Object.defineProperty(me, key, {
          get: typeof computed[key] === 'function' ? computed[key] : computed[key].get,
          set: function() {}
        });
      });
    }
  }
};
</script>
<script id="observe">
function Observer(data) {
  this.data = data;
  this.walk(data);
}
Observer.prototype = {
  walk: function(data) {
    var me = this;
    Object.keys(data).forEach(function(key) {
      me.convert(key, data[key]);
    });
  },
  convert: function(key, val) {
    this.defineReactive(this.data, key, val);
  },
  defineReactive: function(data, key, val) {  // 所有加入 Dep 中
    var dep = new Dep();
    var childObj = observe(val);
    Object.defineProperty(data, key, {
      enumerable: true,
      configurable: false,
      get: function() {
        if (Dep.target) { dep.depend(); }
        return val;
      },
      set: function(newVal) {
        if (newVal === val) return;
        val = newVal;
        childObj = observe(newVal);
        dep.notify();
      }
    });
  }
};
function observe(value, vm) {
  if (!value || typeof value !== 'object') return;
  return new Observer(value);
};
</script>
<script id="deep">
var uid = 0;
function Dep() {
  this.id = uid++;
  this.subs = [];
}
Dep.prototype = {
  addSub: function(sub) {
    this.subs.push(sub);
  },
  depend: function() {
    Dep.target.addDep(this);
  },
  removeSub: function(sub) {
    var index = this.subs.indexOf(sub);
    if (index != -1) {
      this.subs.splice(index, 1);
    }
  },
  notify: function() {
    this.subs.forEach(function(sub) {
      sub.update();
    });
  }
};
Dep.target = null;
</script>
<script id="compile">
function Compile(el, vm) {
  this.$vm = vm;  // MVVM 实例
  this.$el = this.isElementNode(el) ? el : document.querySelector(el);
  if (this.$el) { // 转为 fragment 节点，并 init 处理各种绑定
    this.$fragment = this.node2Fragment(this.$el);
    this.init();
    this.$el.appendChild(this.$fragment);
  }
}

Compile.prototype = {
  node2Fragment: function(el) {
    var fragment = document.createDocumentFragment(), child;
    while (child = el.firstChild) fragment.appendChild(child);
    return fragment;
  },
  init: function() {
    this.compileElement(this.$fragment);
  },
  compileElement: function(el) {  // 数据、事件的绑定
    var childNodes = el.childNodes, me = this;
    [].slice.call(childNodes).forEach(function(node) {
      var text = node.textContent;
      var reg = /\{\{(.*)\}\}/;
      if (me.isElementNode(node)) { // 元素节点，看属性中有啥
        me.compile(node);
      } else if (me.isTextNode(node) && reg.test(text)) { // 修改文本节点 {{}} 包裹的数据
        me.compileText(node, RegExp.$1);
      }
      if (node.childNodes && node.childNodes.length) { // 向内延伸
        me.compileElement(node);
      }
    });
  },
  compile: function(node) {
    var nodeAttrs = node.attributes, me = this;
    [].slice.call(nodeAttrs).forEach(function(attr) {
      var attrName = attr.name;
      if (me.isDirective(attrName)) { // 找到了 v- 对应的特殊属性
        var exp = attr.value;
        var dir = attrName.substring(2);
        if (me.isEventDirective(dir)) { // v-on 对应事件
          compileUtil.eventHandler(node, me.$vm, exp, dir);
        } else {  // 其他分别对应不同功能
          compileUtil[dir] && compileUtil[dir](node, me.$vm, exp);
        }
        node.removeAttribute(attrName);
      }
    });
  },
  compileText: function(node, exp) {
    compileUtil.text(node, this.$vm, exp);
  },
  isDirective: function(attr) {
    return attr.indexOf('v-') == 0;
  },
  isEventDirective: function(dir) {
    return dir.indexOf('on') === 0;
  },
  isElementNode: function(node) {
    return node.nodeType == 1;
  },
  isTextNode: function(node) {
    return node.nodeType == 3;
  }
};
</script>
<script id="compileUtil">
var compileUtil = {
  text: function(node, vm, exp) { // 界面，MVVM 实例，属性对应的 value
    this.bind(node, vm, exp, 'text');
  },
  html: function(node, vm, exp) { // 现在还没有
    this.bind(node, vm, exp, 'html');
  },
  model: function(node, vm, exp) {  // 双向绑定 v-model
    this.bind(node, vm, exp, 'model');
    var me = this, val = this._getVMVal(vm, exp);
    node.addEventListener('input', function(e) {
      var newValue = e.target.value;
      if (val === newValue) return;
      me._setVMVal(vm, exp, newValue);
      val = newValue;
    });
  },
  class: function(node, vm, exp) {
    this.bind(node, vm, exp, 'class');
  },
  bind: function(node, vm, exp, dir) {  // 找到几种改值方法
    var updaterFn = updater[dir + 'Updater'];
    updaterFn && updaterFn(node, this._getVMVal(vm, exp));
    new Watcher(vm, exp, function(value, oldValue) {  // 新建监听，重复的合并，Dep.subs[x].id 
      updaterFn && updaterFn(node, value, oldValue);
    });
  },
  eventHandler: function(node, vm, exp, dir) { // 事件处理
    var eventType = dir.split(':')[1],
        fn = vm.$options.methods && vm.$options.methods[exp];
    if (eventType && fn) {
      node.addEventListener(eventType, fn.bind(vm), false);
    }
  },
  _getVMVal: function(vm, exp) {
    var val = vm;
    exp = exp.split('.'); // 如果 a.b 就往下找
    exp.forEach(function(k) {
      val = val[k];
    });
    return val;
  },
  _setVMVal: function(vm, exp, value) {
    var val = vm;
    exp = exp.split('.');
    exp.forEach(function(k, i) {
      if (i < exp.length - 1) {
        val = val[k];
      } else {
        val[k] = value;
      }
    });
  }
};
var updater = {
  textUpdater: function(node, value) {
    node.textContent = typeof value == 'undefined' ? '' : value;
  },
  htmlUpdater: function(node, value) {
    node.innerHTML = typeof value == 'undefined' ? '' : value;
  },
  classUpdater: function(node, value, oldValue) {
    var className = node.className;
    className = className.replace(oldValue, '').replace(/\s$/, '');
    var space = className && String(value) ? ' ' : '';
    node.className = className + space + value;
  },
  modelUpdater: function(node, value, oldValue) {
    node.value = typeof value == 'undefined' ? '' : value;
  }
};
</script>
<script id="watcher">
function Watcher(vm, expOrFn, cb) {
  this.cb = cb;
  this.vm = vm;
  this.expOrFn = expOrFn;
  this.depIds = {};
  if (typeof expOrFn === 'function') {
    this.getter = expOrFn;
  } else {
    this.getter = this.parseGetter(expOrFn);
  }
  this.value = this.get();
}

Watcher.prototype = {
  update: function() {
    this.run();
  },
  run: function() {
    var value = this.get();
    var oldVal = this.value;
    if (value !== oldVal) {
      this.value = value;
      this.cb.call(this.vm, value, oldVal);
    }
  },
  addDep: function(dep) {
    if (!this.depIds.hasOwnProperty(dep.id)) {
      dep.addSub(this);
      this.depIds[dep.id] = dep;
    }
  },
  get: function() {
    Dep.target = this;
    var value = this.getter.call(this.vm, this.vm);
    Dep.target = null;
    return value;
  },
  parseGetter: function(exp) {
    if (/[^\w.$]/.test(exp)) return; 
    var exps = exp.split('.');
    return function(obj) {
      for (var i = 0, len = exps.length; i < len; i++) {
        if (!obj) return;
        obj = obj[exps[i]];
      }
      return obj;
    }
  }
};
</script>
<script>
var vm = new MVVM({
  el: '#mvvm-app',
  data: {
    word: 'Hello World!'
  },
  computed: {
    'myName': function() {
      return [1];
    },
  },
  methods: {
    sayHi: function() {
      this.word = 'Hi, everybody!';
    }
  }
});
</script>
</body>
</html>