@charset "utf-8";

body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}
html, body {
    max-width: 100%;
    min-width: 320px;
    min-height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 去掉点击时默认的高亮 */
}
html {
    color: #383838;
    font-size: 10px;
}
body {
    margin: 0;
    font-size: 1.6rem;
    /*line-height: 1.42857143;*/
    overflow: hidden;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
.body {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	overflow: hidden;
}

/*
 * 按钮/链接部分
 ************************/
.link, .link:focus, .link:hover,
.btn, .btn:focus, .btn:hover {
    color: inherit;
    border: none;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.btn:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.link {
    position: relative;
    overflow: hidden;
    display: block;
}

/*
 * 顶部 tips 组件
 *********************************/
.tips {
    position: absolute;
    left: 0;
    right: 0;
    padding: .5rem 1rem;
    color: #fff;
}

    .tips.top {
        top: 0;
        z-index: 10;
        transform: translateY(-100%);
        background: rgba(0,0,0,.7);
        transition: .3s;
    }

        .tips.top.in {
            transform: translateY(0);
        }

    .tips.center {
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        background: rgba(0,0,0,.5);
        z-index: -1;
        opacity: 0;
        transition: opacity .3s;
    }

        .tips.center.in {
            opacity: 1;
            z-index: 10;
        }

    .tips.static {
        bottom: 3%;
        text-align: center;
        color: #333;
        text-shadow: 0 0 1em rgba(255,255,255,.5);
        z-index: -1;
        opacity: 0;
        transition: opacity .3s;
    }

        .tips.static.in {
            opacity: 1;
            z-index: 10;
        }

    .tips.bottom {
        bottom: 3%;
        margin: 0 10%;
        background: #666;
        color: #fff;
        border-radius: .5rem;
        transform: translateX(150%);
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(.175, .885,.32,1.275);
    }

        .tips.bottom.in {
            transform: translateX(0);
        }

/*
 * toast 组件
 *********************************/
.toast {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transform: scale(0.7);
    transition: opacity .3s, transform .1s;
}

.toast-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0,0,0,.7);
    border-radius: .5rem;
    padding: 1rem 1rem;
    color: #fff;
    margin: auto;
}

.toast.in {
    opacity: 1;
    z-index: 99;
    transform: scale(1);
}

.toast .toast-wrap:before {
    content: " ";
    font-size: 5em;
    width: 1em;
    height: 1em;
    text-indent: 2em;
    overflow: hidden;
    display: inline-block;
    margin-bottom: .5rem;
}

.toast .toast-wrap:after {
    content: " ";
    display: block;
    font-size: .9rem;
}

.toast.load .toast-wrap:before {
    content: "load";
    border-radius: 100%;
    border: .4rem solid rgba(255,255,255,.5);
    border-top-color: #fff;
    animation: rotate 1s infinite linear;
}

.toast.load .toast-wrap:after {
    content: "加载中，请稍等";
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

/*
 * modal 组件
 ***************************/
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    transition: opacity .3s, z-index 0s .3s;
}

.modal-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .15s;
    background: rgba(0,0,0,.8);
}

.modal.in {
    opacity: 1;
    z-index: 10;
    transition: opacity .3s;
}

    .modal.in .modal-bg {
        opacity: 1;
    }

.modal-box {
    position: absolute;
    background: #fff;
    transform: translate3d(0,0,0);
}

.modal.bottom .modal-box {
    left: 0;
    right: 0;
    bottom: 0;
}

/*
 * alert 组件
 ***************************/
.panel {
    display: flex;
    flex-direction: column;
}
.panel-head,
.panel-foot {
    position: relative;
    padding: .5rem 1rem;
    flex-shrink: 0;
}
.panel-head {
    border-bottom: 1px solid #e9e9e9;
}
.panel-body {
    padding: .8rem 1rem;
    background: #f9f9f9;
    flex-grow: 1;
}
.panel-foot {
    border-top: 1px solid #e9e9e9;
}