@charset "utf-8";
/*@main-color: #F5F5F5;*/
/*
 * 图标
 *******************************/

:root {
    --gap: 0.26666rem;
}
[class*="icon"] {
    content: "";
    position: relative;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main > section {
    background: #fff;
}
.main > section:not(:last-child) {
    margin-bottom: .26666rem;
    /*margin-bottom: var(--gap);*/
}
.title {
    flex-grow: 1;
}
.nav {
    line-height: 1;
}
.imgRadio.single:before {
    padding-top: 80%; /* 600/750 */
}
.price {
    color: #fb434f;
}

.header-bar {
    background: #fff;
    padding: .6em 1.2em;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}
.search-box {
    display: flex;
    padding: 0 .5em;
    border-radius: 5px;
    align-items: center;
    background: #f1f1f1;
}
.icon-search {
    display: block;
    transform: scale(1.2);
    margin-right: .5em;
    background-image: url(../img/icon_search.png);
}
.search-input {
    border: none;
}


.index-nav-list {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
}
.index-nav-item {
    flex-basis: 2.5rem;
    text-align: center;
}
.index-nav-item > .link {
    padding: .5em .5em;
}
.index-nav-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto .5em;
}
.index-nav-name {
    font-size: 14px;
}

.foot-nav {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    background: #fff;
    line-height: 1;
    box-shadow: 0 -1px 1px rgba(0,0,0,.2);
}
.foot-nav-item {
    flex-basis: 2.5rem;
    text-align: center;
}
.foot-nav-item > .link {
    padding: .5em .5em;
}
.foot-nav-icon {
    display: block;
    width: 2em;
    height: 2em;
    margin: 0 auto .5em;
}
.foot-nav-item:nth-child(1) div {
    background-image: url(../img/icon-home.png)
}
.foot-nav-item:nth-child(2) div {
    background-image: url(../img/icon-type.png)
}
.foot-nav-item:nth-child(3) div {
    background-image: url(../img/icon-cart.png)
}
.foot-nav-item:nth-child(4) div {
    background-image: url(../img/icon-user.png)
}

.index-single-item .image {
    box-shadow: 0 1px 1px #d5d5d5;
}
.index-single-item .content {
    display: flex;
    padding: .5em .26666rem;
    padding: .5em var(--gap);
}
.index-single-item .title {
    margin-right: .5em;
}

.index-best > .title-box {
    padding:  .2666rem .2666rem 0;
    padding:  var(--gap)  var(--gap) 0;
}
.index-best-title {
    padding: 1em;
    text-align: center;
    border: 2px solid #333;
    text-transform: uppercase;
}
.index-best-title > * {
    margin: 0 0;
}
.index-best-title h2 {
    font-weight: bold;
}
.index-best-title p {
    color: #a6a6a6;
}


.index-best-item {
    position: relative;
    margin: 0 .26666rem;
    margin: 0 var(--gap);
}
.index-best-item:not(:last-child) {
    border-bottom: 1px solid #efefef;
}
.index-best-item > .link {
    display: flex;
    padding: .26666rem .26666rem;
    padding: var(--gap) var(--gap);
    margin: 0 -.26666rem;
    margin: 0 calc(-1*var(--gap));
    overflow: visible;
}
.index-best-item .image {
    width: 3rem;
    flex-shrink: 0;
    margin-right: .2666rem;
    margin-right: var(--gap);
    box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.index-best-item .title {
    margin-bottom: .5em;
}

.index-best-item .btn-link {
    position: absolute;
    bottom: 0;
    right: .5em;
}
.index-best-item .icon-arrow {
    color: #e0e0e0;
    font-size: 1.5em;
    opacity: .6;
}
.icon-arrow:before {
    content: '\276f';
    display: block;
    line-height: 1;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: .2666rem .1333rem 0;
    padding: var(--gap) calc(var(--gap)/2) 0;
}
.priduct-list-item {
    position: relative;
    flex-basis: 50%;
}
@media (min-width: 768px) {
    .priduct-list-item {
        flex-basis: 33.333%;
    }
}
.priduct-list-item .link {
    margin: 0 .2666rem .1333rem;
    margin: 0  calc(var(--gap)/2) var(--gap);
    box-shadow: 0 0 1px rgba(0,0,0,.2);
}
.product-list .content {
    position: relative;
    margin: .5em .5em;
}
.product-list .btn-link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #e0e0e0;
    opacity: .6;
}