@charset "utf-8";
/**********************************
 * 基础
 **********************************/
body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}
html, body {
    max-width: 100%;
    min-width: 320px;
    min-height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 去掉点击时默认的高亮 */
}
html {
    color: #383838;
    /*font-size: 10px;*/
}

/*@media screen and (min-width:321px) and (max-width:375px){
    html.mobile {font-size:11px}
}
@media screen and (min-width: 376px) and (max-width: 414px) {
    html.mobile {font-size: 12px;}
}
@media screen and (min-width: 415px) and (max-width: 639px) {
    html.mobile {font-size: 15px;}
}
@media screen and (min-width: 640px) and (max-width: 719px) {
    html.mobile {font-size: 20px;}
}
@media screen and (min-width: 720px) and (max-width: 749px) {
    html.mobile {font-size: 22.5px;}
}
@media screen and (min-width: 750px) and (max-width: 799px) {
    html.mobile {font-size: 23.5px;}
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    html.mobile {font-size: 25px;}
}*/
body {
    margin: 0;
    /*font-size: 1.6rem;*/
    /*line-height: 1.42857143;*/
    overflow: hidden;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, 
        "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
.body {
    font-size: 1.2em;
}
*, *:before, *:after {
    box-sizing: border-box;
}

/*
 * 文本部分
 ************************/
/*h1, h2 {
    margin: 0 0 1rem;
    line-height: 1.2;
}
h3, h4, h5, h6 {
    margin: 1rem 0;
}
p {margin: 0 0 1rem}
h1 {font-size: 2.0em}
h2 {font-size: 1.6em}
h3 {font-size: 1.4em}
h4 {font-size: 1.2em}
h5 {font-size: 1.125em}
h6 {font-size: 0.9em}
h1 small, h2 small, h3 small {
    font-size: 1.6rem;
    font-weight: normal;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    font-size: 1em;
    line-height: 1;
    font-weight: normal;
}*/
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: normal;
    margin: 0 0;
}
p {
    margin: 0 0 .5em;
}
.font-serif, .text-serif {
    font-family: Georgia,"Times New Roman",Times,SimSun,FontAwesome,serif;
}
.font-kai, .text-kai {
    font-family: Georgia,"Times New Roman",Times,Kai,"Kaiti SC",KaiTi,BiauKai,FontAwesome,serif;
}
.font-monospace, .text-monospace {
    font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
}
.text {
    line-height: 1.5em;
    max-height: 1.5em;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text2 {
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
.text3 {
    line-height: 1.5em;
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
.tc {
    text-align: center;
}
.ti {
    text-indent: 2em;
}

/*
 * 图片部分
 ************************/
img {
    width: 100%;
    display: block;
}
.circle {
    border-radius: 100%;
}

/*
 * 表格部分
 ************************/
table {
    background-color: transparent;
    empty-cells: show;
    border-spacing: 0;
    border-collapse: collapse;
}
.table {
    width: 100%;
}


/*
 * 按钮/链接部分
 ************************/
a {
    color: #337ab7;
    text-decoration: none;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}
.link, .link:focus, .link:hover,
.btn, .btn:focus, .btn:hover {
    color: inherit;
    text-decoration: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
}
button.btn {
    border: none;
}
.btn:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
}
.link {
    position: relative;
    overflow: hidden;
    display: block;
}
.link:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: #f5f5f5;
    opacity: 0;
    transition: opacity .1s;
}
.link:active:after {
    opacity: 1;
}
.link > * {
    position: relative;
    z-index: 1;
}

/*
 * 表单部分
 ************************/
input.none {
    border: none;
    background: none;
    font-size: inherit;
    color: inherit;
}
.input {
    display: block;
    width: 100%;
    flex-grow: 1;
    font-size: inherit;
    color: #555;
    background: none;
    padding: .5em .5em;
    border: 1px solid #ccc;
    border-radius: .2em;
}
.form-group:not(:last-of-type) {
    margin-bottom: .5em;
}

/*
 * 颜色
 ************************/
.red {
    color: #FC0071;
}
.bg-grey {
    background: #f5f5f5;
}
.bg-white {
    background: #fff;
}

/*
 * 列表部分
 ************************/
.nav, .list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
[hidden], template {
    display: none;
}
.hide {
    display: none !important;
}
.disabled, [disabled] {
    pointer-events: none;
    -webkit-user-select: none;
            user-select: none;
}
.clear:before, .clear:after {
    content: "";
    display: table;
}
.clear:after {clear: both}
.seo-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.relative {
    position: relative;
}