html {
    background:#c0e4fa;
    width:750px;
    height:100%;
    overflow: hidden;
}
body {
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    background:#c0e4fa;
    font-size: 24px;
}
.loading {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    display:block;
    background:#c0e4fa;
    z-index:999999;
}

.loading_canvas {
    position:absolute;
    width:420px;
    height:200px;
    left:320px;
    top:400px;
   
   
}

.text_loading {
    position:absolute;
    top:505px;
    left:120px;
}
.progress{
      width: 140px;
      height: 10px;
      background: #b0b4c3;
      padding: 1px;
      overflow: visible;
      border-radius: 20px;
      border-top: 1px solid #7992a8;
      border-bottom: 1px solid #7992a8;
      position: absolute;
      top:510px;
      left:320px;
     
  }
  .progress .progress-bar{
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    -webkit-transition: width .6s ease;
    -o-transition: width .1s ease;
    transition: width .1s ease;
    border-radius: 20px;
    position: relative;
    animation: animate-positive 2s;
  }
  .progress-bar-info {
    background-color: #df716c;
}
  .progress .progress-value{
      display: block;
      padding: 3px 7px;
      font-size: 13px;
      color: #fff;
      border-radius: 4px;
      background: #191919;
      border: 1px solid #000;
      position: absolute;
      top: -40px;
      right: -10px;
  }
  .progress .progress-value:after{
      content: "";
      border-top: 10px solid #191919;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      position: absolute;
      bottom: -6px;
      left: 26%;
  }
  .progress-bar.active{
      animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive .5s;
  }
  @-webkit-keyframes animate-positive{
      0% { width: 0; }
  }
  @keyframes animate-positive{
      0% { width: 0; }
  }
.load_gif{
    position: absolute;
    top:570px;
    left:250px;
    width: 288px;
    height: 120px;
    
}
.load_1{
        position: absolute;
        top:0;
        left: 0;
        width: 288px;
        height: 120px;
        background: url(../img/img1.png) no-repeat -44px 0;
    }
.load_2{
    position: absolute;
    top:54px;
    left: 72px;
    width: 26px;
    height: 26px;
    background: url(../img/img1.png) no-repeat 0px 0px;
    animation: rotation .5s linear infinite;
    -webkit-animation: rotation .5s linear infinite;
}
.load_3{
    position: absolute;
    top:54px;
    left: 157px;
    width: 26px;
    height: 26px;
    background: url(../img/img1.png) no-repeat 0px -27px;
    animation: rotation .5s linear infinite;
    -webkit-animation: rotation .5s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

.line{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.line_1{
    position: absolute;
    top:139px;
    left:113px;
    width: 120px;
    height: 80px;
    background: url(../img/img1.png) no-repeat 0px -118px;
    animation: pulse 1s infinite;
    -webkit-animation: pulse 1s infinite;
}
.line_2{
    position: absolute;
    top:407px;
    left:392px;
    width: 120px;
    height: 80px;
    background: url(../img/img1.png) no-repeat 0px -433px;
    animation: pulse 1s .2s infinite;
    -webkit-animation: pulse 1s .2s infinite;
}
.line_3{
    position: absolute;
    top:660px;
    left:158px;
    width: 120px;
    height: 80px;
    background: url(../img/img1.png) no-repeat 0px -354px;
    animation: pulse 1s .4s infinite;
    -webkit-animation: pulse 1s .4s infinite;
}
.line_4{
    position: absolute;
    top:790px;
    left:490px;
    width: 120px;
    height: 80px;
    background: url(../img/img1.png) no-repeat 0px -197px;
    animation: pulse 1s .6s infinite;
    -webkit-animation: pulse 1s .6s infinite;
}

.line_5{
    position: absolute;
    top:1028px;
    left:272px;
    width: 120px;
    height: 80px;
    background: url(../img/img1.png) no-repeat 0px -276px;
    animation: pulse 1s  .8s infinite;
    -webkit-animation: pulse 1s .8s infinite;
}
.bg{
    position: absolute;
    width: 100%;
/*//  height: 100%;*/
    left: 0;
    top: 0;
}


.content {
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	overflow:hidden;
	overflow-y: scroll;
}
.buttom_1{
    position: absolute;
    top:975px;
    left: 119px;
    width: 221px;
    height: 90px;
    background: url(../img/img1.png) no-repeat 0px -512px;
    animation: pulse 1s  .8s infinite;
    -webkit-animation: pulse 1s .8s infinite;
}
.buttom_2{
    position: absolute;
    top:975px;
    left: 399px;
    width: 221px;
    height: 90px;
    background: url(../img/img1.png) no-repeat 0px -602px;
    animation: pulse 1s  .8s infinite;
    -webkit-animation: pulse 1s .8s infinite;
}
.success_text{
    position: absolute;
    top:346px;
    left:160px;
    width: 435px;
    height: 115px;
    color:#ff6464;
    font-size: 32px;
    line-height: 45px;    
}
.login_1{
    position: absolute;
    top:128px;
    left: 149px;
    width: 450px;
    height: 130px;
     background: url(../img/img1.png) no-repeat -231px -709px;
}
.login_2{
    position: absolute;
    bottom:0px;
    right: 0;
    width: 454px;
    height: 260px;
     background: url(../img/pic6.png) no-repeat ;
}
.index_1{
	width: 490px;
	height: 138px;
	position: absolute;
	top:118px;
	left: 135px;
	background: url(../img/img1.png) no-repeat 0 -882px;
}
.index_2{
	width: 27px;
	height: 21px;
	position: absolute;
	top:307px;
	left: 277px;
	background: url(../img/img1.png) no-repeat 0 -1032px;
	animation: fadeInDown 1s infinite;
	-webkit-animation: fadeInDown 1s infinite;
}
.index_3{
	width: 27px;
	height: 21px;
	position: absolute;
	top:307px;
	left: 460px;
	background: url(../img/img1.png) no-repeat 0 -1055px;
	animation: fadeInDown 1s infinite;
	-webkit-animation: fadeInDown 1s infinite;
}
.index_4{
	width: 160px;
	height: 230px;
	position: absolute;
	top:356px;
	left: 204px;
	background: url(../img/img1.png) no-repeat -230px -467px;
}
.index_5{
	width: 160px;
	height: 230px;
	position: absolute;
	top:356px;
	left: 394px;
	background: url(../img/img1.png) no-repeat -397px -467px;
}
.index_6{
	width: 88px;
	height: 180px;
	position: absolute;
	top:383px;
	left: 249px;
	background: url(../img/img1.png) no-repeat -62px -1031px;
}
.index_7{
	width: 88px;
	height: 180px;
	position: absolute;
	top:383px;
	left: 433px;
	background: url(../img/img1.png) no-repeat -157px -1031px;
}
.index_8{
	width: 355px;
	height: 135px;
	position: absolute;
	top:654px;
	left: 209px;
	background: url(../img/img1.png) no-repeat -135px -320px;
}
.index_9{
	width: 198px;
	height: 233px;
	position: absolute;
	top:835px;
	left: 430px;
	background: url(../img/img1.png) no-repeat -556px 0;
	
}

.index_10{
	width: 66px;
	height: 74px;
	position: absolute;
	top:987px;
	left: 562px;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
	z-index: 99;
}
.index_11{
	width: 750px;
	height: 480px;
	position: absolute;
	top:740px;
	left: 0;
	background: url(../img/index_11.png) no-repeat;
}
.jqName{
	position: absolute;
	top:54px;
	left: 90px;
	width: 256px;
	height: 70px;
	border: none;
	background: none;
	color:#000;
	font-size: 35px;
	z-index: 9999;
	text-align: center;
}
.people{
	position: absolute;
	top:237px;
	left: 176px;	
}
.p1_1{
	position:absolute;
	width:266px;
	height:296px;
	top:107px;
	left: 315px;
	background: url(../img/img4.png) no-repeat -402px -500px;
}
.p1_2{
	position:absolute;
	width:96px;
	height:169px;
	top:295px;
	left: 550px;
	background: url(../img/img1.png) no-repeat -507px -282px;
	animation: man 2s linear infinite;
	-webkit-animation: man 2s linear infinite;
}
@keyframes man {
    0% {
        transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px)
    }
     50% {
        transform: translate(-30px,-30px);
        -webkit-transform: translate(-30px,-30px)
    }
    100% {
        transform: translate(0,0);
        -webkit-transform: translate(0,0)
    }
}
.p1_3{
	position: absolute;
	width: 299px;
	height: 269px;
	top:352px;
	left: 83px;
	background: url(../img/img4.png) no-repeat 0 0;
}
.p1_4{
	position: absolute;
	width: 351px;
	height: 466px;
	top:542px;
	left: 416px;
	z-index: 99;
	background: url(../img/pic1_00.png) no-repeat 0 0;
	animation: xunliezhen 1s step-end infinite;
	-webkit-animation: xunliezhen 1s step-end infinite;
}
@keyframes xunliezhen {
    0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -466px;
    }
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes xunliezhen {
   0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -466px;
    }
    100%{
      background-position-y:0;
    }
}
.p1_5{
	position: absolute;
	width: 223px;
	height: 202px;
	top:530px;
	left:50px;
	background: url(../img/jt1.png) no-repeat;
	animation: xunliezhen5 1s step-end infinite;
	-webkit-animation: xunliezhen5 1s step-end infinite;
}
@keyframes xunliezhen5 {
    0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -221px;
    }
    100%{
      background-position-x:0;
    }
}
@-webkit-keyframes xunliezhen5 {
   0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -221px;
    }
    100%{
      background-position-x:0;
    }
}
.p1_6{
	position: absolute;
	width: 400px;
	height: 401px;
	top:748px;
	left:38px;
	background: url(../img/img4.png) no-repeat 0 -264px;
	z-index: 9999;
}
.p1_7{
	position: absolute;
	width: 309px;
	height: 252px;
	top:1039px;
	left:385px;
	background: url(../img/img4.png) no-repeat 0 -665px;
	z-index: 99999999;
}
.p1_8{
	position: absolute;
	width: 157px;
	height: 258px;
	top:1530px;
	left:362px;
	background: url(../img/pic3.png) no-repeat 0 0;
	animation: xunliezhen11 1s step-end infinite;
	-webkit-animation: xunliezhen11 1s step-end infinite;
}
@keyframes xunliezhen11 {
    0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -258px;
    }
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes xunliezhen11 {
   0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -258px;
    }
    100%{
      background-position-y:0;
    }
}
.p1_10{
	position: absolute;
	width: 96px;
	height: 276px;
	top:1500px;
	left:384px;
	background: url(../img/img1.png) no-repeat -428px 0;
	display: none;
}
.p2_1{
	position: absolute;
	width: 297px;
	height: 397px;
	top:2142px;
	left: 392px;
	background: url(../img/img4.png) no-repeat -402px -794px;	
}
.p2_2{
	position: absolute;
	width: 179px;
	height: 176px;
	top:2142px;
	left: 430px;
	background: url(../img/img4.png) no-repeat 0 -1749px;	
}
.p2_3{
	position: absolute;
	width: 140px;
	height: 92px;
	top:2328px;
	left: 250px;
	background: url(../img/san1.png) no-repeat;
	animation: xunliezhen4 1s step-end infinite;	
	-webkit-animation: xunliezhen4 1s step-end infinite;		
}
@keyframes xunliezhen4 {
    0%{
      background-position-y:0;
    }
    25%{
    	background-position-y: -92px;
    }
    50%{
      background-position-y:-185px;
    }
    75%{
      background-position-y:-277px;
    }
    
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes xunliezhen4 {
       0%{
      background-position-y:0;
    }
    25%{
    	background-position-y: -92px;
    }
    50%{
      background-position-y:-185px;
    }
    75%{
      background-position-y:-277px;
    }
    
    100%{
      background-position-y:0;
    }
}

.p2_4{
	position: absolute;
	
	top:2520px;
	left: 539px;
	/*background: url(../img/men.png) no-repeat;	*/
}
.p2_5{
	position: absolute;
	width: 253px;
	height: 201px;
	top:2355px;
	left: 140px;
	background: url(../img/jt2.png) no-repeat;	
    animation: xunliezhen6 1s step-end infinite;
	-webkit-animation: xunliezhen6 1s step-end infinite;
	z-index: 9;
}
@keyframes xunliezhen6 {
    0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -252px;
    }
    100%{
      background-position-x:0;
    }
}
@-webkit-keyframes xunliezhen6 {
   0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -252px;
    }
    100%{
      background-position-x:0;
    }
}
.p3_1{
	position: absolute;
	width: 272px;
	height: 223px;
	top:3128px;
	left: 425px;
	background: url(../img/jt3.png) no-repeat;	
    animation: xunliezhen7 1s step-end infinite;
	-webkit-animation: xunliezhen7 1s step-end infinite;
}
@keyframes xunliezhen7 {
    0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -271px;
    }
    100%{
      background-position-x:0;
    }
}
@-webkit-keyframes xunliezhen7 {
   0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -271px;
    }
    100%{
      background-position-x:0;
    }
}
.p3_2{
	position: absolute;
	width: 344px;
	height: 415px;
	top:3250px;
	left: 61px;
	background: url(../img/img4.png) no-repeat -402px -1200px;
		
}
.p3_3{
	position: absolute;
	width: 132px;
	height: 165px;
	top:3123px;
	left: 197px;
	background: url(../img/img1.png) no-repeat -618px -369px;	
	z-index: 999;
	display: none;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;		
}

.p3_4{
	position: absolute;
	width: 49px;
	height: 45px;
	top:3286px;
	left: 108px;
	background: url(../img/img1.png) no-repeat -139px -245px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;	
}
.p3_5{
	position: absolute;
	width: 84px;
	height: 384px;
	top:3354px;
	left: 553px;
	background: url(../img/ta1.png) no-repeat;
	animation: xunliezhen2 1s step-end infinite;	
	-webkit-animation: xunliezhen2 1s step-end infinite;
	z-index: 999;		
}
@keyframes xunliezhen2 {
    0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -394px;
    }
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes xunliezhen2 {
    0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -394px;
    }
    100%{
      background-position-y:0;
    }
}
.p3_6{
	position: absolute;
	width: 315px;
	height: 381px;
	top:3853px;
	left: 101px;
	background: url(../img/m1.png) no-repeat;
	animation: xunliezhen3 1s step-end infinite;	
	-webkit-animation: xunliezhen3 1s step-end infinite;
	z-index: 999;
}
@keyframes xunliezhen3 {
    0%{
      background-position-y:0;
    }
    20%{
    	background-position-y: -381px;
    }
    40%{
      background-position-y:-763px;
    }
    60%{
      background-position-y:-1144px;
    }
    80%{
      background-position-y:-1526px;
    }
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes xunliezhen3 {
       0%{
      background-position-y:0;
    }
    20%{
    	background-position-y: -381px;
    }
    40%{
      background-position-y:-763px;
    }
    60%{
      background-position-y:-1144px;
    }
    80%{
      background-position-y:-1526px;
    }
    100%{
      background-position-y:0;
    }
}
.p3_7{
	position: absolute;
	width: 344px;
	height: 384px;
	top:4222px;
	left: 270px;
	background: url(../img/img4.png) no-repeat 0 -917px;	
	z-index: 99;
}
.p4_1{
	position: absolute;
	width: 345px;
	height: 430px;
	top:4547px;
	left: 57px;
	background: url(../img/img4.png) no-repeat 0 -1313px;
}
.p4_2{
	position: absolute;
	width: 116px;
	height: 87px;
	top:4542px;
	left: 202px;
	background: url(../img/img1.png) no-repeat -273px -179px;
	display: none;
	animation: saomiao 2s infinite;
	-webkit-animation: saomiao 2s infinite;
}
.p4_3{
	position: absolute;
	width: 132px;
	height: 165px;
	top:4644px;
	left: 238px;
	background: url(../img/img1.png) no-repeat -618px -369px;	
	z-index: 999;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;		
}
.p4_4{
	position: absolute;
	width: 246px;
	height: 217px;
	top:4900px;
	left: 209px;
	background: url(../img/jt4.png) no-repeat;
    animation: xunliezhen8 1s step-end infinite;
	-webkit-animation: xunliezhen8 1s step-end infinite;
	z-index: 99;
}
@keyframes xunliezhen8 {
    0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -245px;
    }
    100%{
      background-position-x:0;
    }
}
@-webkit-keyframes xunliezhen8 {
   0%{
      background-position-x:0;
    }
    50%{
    	background-position-x: -245px;
    }
    100%{
      background-position-x:0;
    }
}
.p4_5{
	position: absolute;
	width: 91px;
	height: 138px;
	top:4992px;
	left: 320px;
	background: url(../img/xinhaota.png) no-repeat;
	
}
.p4_5{
	position: absolute;
	width: 327px;
	height: 492px;
	top:5357px;
	left: 366px;
	background: url(../img/img4.png) no-repeat -402px 0;
	z-index: 999;
}
.p4_6{
	position: absolute;
	width: 379px;
	height: 311px;
	top:5841px;
	left: 57px;
	background: url(../img/img4.png) no-repeat -367px -1618px;
}
.p4_7{
	position: absolute;
	width: 294px;
	height: 244px;
	top:5790px;
	left: 88px;
	background: url(../img/img4.png) no-repeat 0 -2157px;
	display: none;
}
.q1{
	position: absolute;
	width: 63px;
	height: 215px;
	top:5048px;
	left: 154px;
	background: url(../img/img4.png) no-repeat -689px -2320px;
	z-index: 1;
}
.q2{
	position: absolute;
	width: 74px;
	height: 377px;
	top:4935px;
	left: 103px;
	background: url(../img/img4.png) no-repeat -334px -2216px;
	z-index: 999;
}
.q3{
	position: absolute;
	width: 74px;
	height: 377px;
	top:5085px;
	left: 375px;
	background: url(../img/img4.png) no-repeat -334px -2216px;
	z-index: 999;
}
.q4{
	position: absolute;
	width: 60px;
	height: 215px;
	top:5198px;
	left: 427px;
	background: url(../img/img4.png) no-repeat -689px -2320px;
}
.chuan2{
	position: absolute;
	width: 106px;
	height: 84px;
	top:5094px;
	left: 617px;
	background: url(../img/img1.png) no-repeat -124px -142px;
	animation: chuan 20s linear infinite;
	-webkit-animation: chuan 20s linear infinite;
	
}
@keyframes chuan {
    0% {
        transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px)
    }
     50% {
        transform: translate(-100px,100px);
        -webkit-transform: translate(-100px,100px)
    }
    100% {
        transform: translate(0,0);
        -webkit-transform: translate(0,0)
    }
}
.text1{
	position: absolute;
	width: 504px;
	height: 94px;
	top:64px;
	left: 105px;
	background: url(../img/img5.png) no-repeat 0 -85px;
	
}
.text2{
	position: absolute;
	width: 321px;
	height: 250px;
	top:444px;
	left: 220px;
	background: url(../img/img5.png) no-repeat 0 -494px;
	display: none;	
	z-index: 99999;
}
#dd_2{
	position: absolute;
	
	top:444px;
	left: 220px;
}
.text3{
	position: absolute;
	width: 480px;
	height: 86px;
	top:1330px;
	left: 176px;
	background: url(../img/img5.png) no-repeat 0 0;
	display: none;
	z-index: 999999;	
}
.text4{
	position: absolute;
	width: 312px;
	height: 236px;
	top:2049px;
	left: 168px;
	background: url(../img/img5.png) no-repeat 0 -761px;
	display: none;
	z-index: 9999;	
}
.text5{
	position: absolute;
	width: 481px;
	height: 95px;
	top:2673px;
	left: 58px;
	background: url(../img/img5.png) no-repeat 0 -179px;
	display: none;	
	z-index: 9999;
}
.text6{
	position: absolute;
	width: 348px;
	height: 270px;
	top:3294px;
	left: 300px;
	background: url(../img/img5.png) no-repeat -348px -395px;
	display: none;
	z-index: 9999999;	
}
.text7{
	position: absolute;
	width: 504px;
	height: 94px;
	top:3992px;
	left: 67px;
	background: url(../img/img5.png) no-repeat 0 -275px;
	display: none;
	z-index: 99999;	
}
.text8{
	position: absolute;
	width: 340px;
	height: 270px;
	top:4581px;
	left: 319px;
	background: url(../img/img5.png) no-repeat -351px -684px;
	display: none;
	z-index: 99999;	
}
.text9{
	position: absolute;
	width: 327px;
	height: 120px;
	top:5723px;
	left: 255px;
	background: url(../img/img5.png) no-repeat 0 -374px;
	display: none;
	z-index: 9999;	
}
#page_2,#page_4,#page_3,#page_5{
	display: none;
	opacity: 0;
	
}
.p1_9{
	position: absolute;
	width: 250px;
	height: 355px;
	top:590px;
	left: 376px;
	display: block;
	background: url(../img/img4.png) no-repeat -518px -1947px;
	z-index: 9999;
	display: none;
}
.p2_6{
	position: absolute;
	width: 250px;
	height: 355px;
	top:2152px;
	left: 346px;
	background: url(../img/img4.png) no-repeat -518px -1947px;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;
}
.p2_7{
	position: absolute;
	width: 52px;
	height: 70px;
	top:2240px;
	left: 638px;
	background: url(../img/img1.png) no-repeat -650px -266px;
	animation: bounce 1s infinite;
	-webkit-animation: bounce 1s infinite;
}

#dd_1{
	position: absolute;
	top:1800px;
}
@-webkit-keyframes saomiao {
    0% {
        transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px)
    }
     50% {
        transform: translate(100px,250px);
        -webkit-transform: translate(100px,250px)
    }
    100% {
        transform: translate(0,0);
        -webkit-transform: translate(0,0)
    }
}
.p4_8{
	position: absolute;
	top:5865px;
	left:360px;
	width: 192px;
	height: 167px;
	background: url(../img/jt5.png) no-repeat;
	animation: xunliezhen10 1s step-end infinite;
	-webkit-animation: xunliezhen10 1s step-end infinite;
}
@keyframes xunliezhen10 {
    0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -170px;
    }
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes xunliezhen10 {
   0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -170px;
    }
    100%{
      background-position-y:0;
    }
}
#form{
	position: absolute;
	top:460px;
	left:130px;
	width: 482px;
}
.inputtype{
	width: 472px;
	border: none;
	border:1px solid #ff8381;
	height: 70px;
	margin-bottom: 30px;
	border-radius: 20px;
	color:#ff8381;
	font-size: 32px;
	padding-left: 10px;
	
}
#select{
	width: 495px;
	background: #FFFFFF;
	height: 90px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ff8381; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ff8381;
}

input:-ms-input-placeholder{
    color: #ff8381;
}

input::-webkit-input-placeholder{
    color: #ff8381;
}
#submit{
	width: 223px;
	height: 90px;
	background: none;
	border: none;
	background: url(../img/img1.png) no-repeat 0 -696px;
}
#alert{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: none;
}
.pof {
    position:fixed;
    top:30px;
    right:5%;
    z-index:999;
}
#switch-music{ position:fixed; z-index:999;  width:40px; height:40px;}
#switch-music.show{display:block}
#switch-music .tips{color: rgba(255,255,255,.75); top: 10px; right: 150px; width: 150px; text-align: right; opacity: 0;}
#switch-music .tips.on{opacity: 1; right: 50px;}
#switch-music div:nth-child(2){display:none}
#switch-music.on div:nth-child(2){display:block; animation: music 1s linear infinite; -webkit-animation: music 1s linear infinite}

.p2_8{
	position: absolute;
	width: 18px;
	height: 38px;
	top:2384px;
	left:435px;
	background: url(../img/img1.png) no-repeat  -114px -793px;
	animation: fadeIn2 1.2s  infinite;
	-webkit-animation: fadeIn2 1.2s  infinite;
	display: none;
}
@-webkit-keyframes fadeIn2 {
   0%{
     opacity: 0;
    }
    66%{
    	opacity: 0;
    }
    100%{
      opacity: 1;
    }
}
.p2_9{
	position: absolute;
	width: 18px;
	height: 51px;
	top:2391px;
	left:418px;
	background: url(../img/img1.png) no-repeat -94px -801px;
	animation: fadeIn1 1.2s  infinite;
	-webkit-animation: fadeIn1 1.2s  infinite;
	display: none;
}
@-webkit-keyframes fadeIn1 {
   0%{
     opacity: 0;
    }
    33%{
    	opacity: 0;
    }
    100%{
      opacity: 1;
    }
}
.p2_10{
	position: absolute;
	width: 18px;
	height: 77px;
	top:2389px;
	left:398px;
	background: url(../img/img1.png) no-repeat -75px -800px;
	animation: fadeIn 1.2s infinite;
	-webkit-animation: fadeIn 1.2s infinite;
	display: none;
}
.p3_8{
	position: absolute;
	width: 18px;
	height: 38px;
	top:3542px;
	left:349px;
	background: url(../img/img1.png) no-repeat  -152px -794px;
	animation: fadeIn2 1.2s  infinite;
	-webkit-animation: fadeIn2 1.2s  infinite;
	
}


.p3_9{
	position: absolute;
	width: 18px;
	height: 51px;
	top:3547px;
	left:370px;
	background: url(../img/img1.png) no-repeat -172px -801px;
	animation: fadeIn1 1.2s  infinite;
	-webkit-animation: fadeIn1 1.2s  infinite;
	
}

.p3_10{
	position: absolute;
	width: 18px;
	height: 77px;
	top:3546px;
	left:389px;
	background: url(../img/img1.png) no-repeat -191px -800px;
	animation: fadeIn 1.2s infinite;
	-webkit-animation: fadeIn 1.2s infinite;	
}
.hand1{
	width: 66px;
	height: 74px;
	position: absolute;
	top:640px;
	left: 130px;
	display: none;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
}
.hand2{
	width: 66px;
	height: 74px;
	position: absolute;
	top:1624px;
	left: 454px;
	display: none;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
}
.hand3{
	width: 66px;
	height: 74px;
	position: absolute;
	top:2421px;
	left: 313px;
	display: none;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
	z-index: 9;
}
.hand4{
	width: 66px;
	height: 74px;
	position: absolute;
	top:3189px;
	left: 610px;
	display: none;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
}
.hand5{
	width: 66px;
	height: 74px;
	position: absolute;
	top:5020px;
	left: 375px;
	display: none;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
	z-index: 99999999;
}
.hand6{
	width: 66px;
	height: 74px;
	position: absolute;
	top:5924px;
	left: 487px;
	display: none;
	background: url(../img/img1.png) no-repeat 0px -801px;
	animation: fadeIn 1s infinite;
	-webkit-animation: fadeIn 1s infinite;
}
input, button, select, textarea {
outline: none;
-webkit-appearance: none;
border-radius: 0;
}
*{-webkit-tap-highlight-color:rgba(255,0,0,0);}

.light_1{
	position: absolute;
	top:504px;
	left: 476px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
}
.light_2{
	position: absolute;
	top:928px;
	left: 400px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
	z-index: 999999999;
}

.light_3{
	position: absolute;
	top:1288px;
	left: 114px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_4{
	position: absolute;
	top:1503px;
	left: 361px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_5{
	position: absolute;
	top:2537px;
	left: 389px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_6{
	position: absolute;
	top:2789px;
	left: 543px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_7{
	position: absolute;
	top:3090px;
	left: 148px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_8{
	position: absolute;
	top:3623px;
	left: 404px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}

.light_9{
	position: absolute;
	top:4106px;
	left: 620px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_10{
	position: absolute;
	top:4454px;
	left: 207px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_11{
	position: absolute;
	top:4900px;
	left: 437px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
	z-index: 99999;
}
.light_12{
	position: absolute;
	top:5680px;
	left: 272px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
.light_13{
	position: absolute;
	top:6092px;
	left: 345px;
	width: 66px;
	height: 55px;
	background: url(../img/line.png) no-repeat 0 0 ;
    animation: light 1s step-end infinite;
	-webkit-animation: light 1s step-end infinite;
	display: none;
}
@keyframes light{
    0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -55px;
    }
    100%{
      background-position-y:0;
    }
}
@-webkit-keyframes light{
   0%{
      background-position-y:0;
    }
    50%{
    	background-position-y: -55px;
    }
    100%{
      background-position-y:0;
    }
}
.login_text{
	position: absolute;
	top:290px;
	left: 50%;
	margin-left: -244px;
	width: 489px;
	height: 131px;
	background: url(../img/img4.png) no-repeat 0px -2626px;
}
.tap{
	position: absolute;
	top:390px;
	left: 260px;
	width: 403px;
	height: 120px;
	background: url(../img/img4.png) no-repeat 0px -2021px;
}

