<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<!-- <meta name="divport" content="width=750,user-scalable=no" /> -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="wap-font-scale" content="no">
<title>学习 Vuex</title>
<!--[if lt IE 9]><script>alert('您的浏览器版本过低，请更新本版本浏览器，或更换为诸如谷歌浏览器的现代浏览器')</script><![endif]-->
<style>
.line { margin: 15px 0; }
</style>
</head>

<body>
<div id="app">
  最外层：{{count}}<some :count.sync="count" />
</div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.0.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
<script>

var log = {
  namespaced: true,
  state: {
    logs: [],
    posting: false,
  },
  mutations: {
    add (state, data) {
      state.logs.push(data);
    },
    empty (state, num) {
      state.logs.splice(0, num);
    }
  },
  actions: {
    send ({ dispatch, commit, state }, data) {
      if (state.posting) return;
      state.posting = true;
      return new Promise((resolve, reject) => {
        const len = state.logs.length;
        setTimeout(() => {
          state.posting = false;
          commit('empty', len);
          resolve();
        }, 1000);
      });
    }
  }
}

var user = {
  namespaced: true,
  state: {
    count: 0,
    userinfo: null,
  },
  getters: {
    userinfo (state, getters, rootState) {
      if (state.userinfo) {
        state.userinfo.name += '先生';
        return state.userinfo;
      } else return null;
    },
  },
  mutations: {
    increment (state) {
      state.count++
    },
    login (state, data) {
      state.userinfo = data;
    },
    logout (state) {
      state.userinfo = null;
    }
  },
  actions: {
    login ({ dispatch, commit, state, rootState }, data) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          const userinfo = {
            name: 'zyh',
            age: 26,
          };
          commit('login', userinfo);
          resolve(userinfo);
        }, 1000);
      })
    },
  }
}

const store = new Vuex.Store({
  state: {
    count: 0,
  },
  mutations: {
    increment (state) {
      state.count++
    },
  },
  modules: {
    log,
    user,
  }
})

var mapState = Vuex.mapState
var mapGetters = Vuex.mapGetters
var mapActions = Vuex.mapActions

new Vue({
  el: '#app',
  store,
  data: {
    count: 0,
  },
  components: {
    some: {
      props: ['count'],
      computed: {
        ...mapGetters('user', ['userinfo']),
        ...mapState('log', ['logs']),
        // userinfo () { return this.$store.getters.userinfo2 }
      },
      mounted: function() {
        console.log(this.logs)
      },
      template: `
          <div>
            <div class="line">
              <button @click="xx">子级：{{count}},来自store：{{store.state.count}}</button>
              <son :data.sync="count">
            </div>
            <div class="line">
              <button @click="login">{{userinfo ? "登出" : "登录"}}</button>
              <span v-if="userinfo">{{userinfo.name}}</span>
            </div>
            <div class="line">
              <button @click="add">添加</button>
              <button @click="send">发送</button>
              <ul>
                <template v-for="(item, index) in logs">
                  <li v-key="index">{{item}}</li>
                </template>
              </ul>
            <div>
          </div>
        `,
      methods: {
        ...mapActions('log', ['send']),
        add: function() { this.$store.commit('log/add', Date.now()) },
        xx: function() { ++this.count; this.$store.commit('increment');  },
        login: function() { this.userinfo ? this.$store.commit('user/logout') : this.$store.dispatch('user/login',1).then(res => console.log(res)); }
      },
      watch: {
        'count': function(val) {
          this.$emit('update:count', val);
        },
      },
      components: {
        son: {
          props: ['data'],
          template: '<button @click="me">子级改父级{{data}}</button>',
          methods: {
            me: function() { this.$emit('update:data', ++this.data); }
          }
        }
      },
    }
  }
});
</script>
<script>var script = document.createElement('script'); script.src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"; document.body.appendChild(script); script.onload = function () { new VConsole() }</script>
</body>
</html>