@charset "utf-8";
/* CSS Document */
body{background:#2e2e2e; font:normal normal 12px/16px "微软雅黑","Courier New", Courier, monospace; color:#FFF}
body,p,h1,h2,h3,h4,h5,h6,ul,li,dl{margin:0; padding:0}
.debug{width:300px; height:416px; padding:32px 0; overflow:auto; background:#69F; position:absolute; z-index:1; top:50%; left:50%; margin:-240px 0 0 208px; box-shadow:0 0 5px #FFF; color:#330; border-radius:5px}
.debug .tab_h{position:absolute; left:9px; top:9px}
.debug .tab_h span{display:inline-block; height:14px; padding:4px 6px; color:#FFC; border-width:1px 1px 0; border-style:solid; border-color:#69F; cursor:pointer}
.debug .tab_h span.current{border-color:#FFF; background:#FFC; color:#333}
.debug .tab_c{background:#FFC; height:100%; width:94%; margin:0 3%; overflow:auto}
.debug .tab_c ol{padding:0 12px 0 30px; margin:0}
.debug .tab_c ol li{margin-bottom:6px}
.debug #debug p{border-bottom:1px solid #999; text-indent:0; text-align:left; margin-bottom:0}
.debug p{padding:8px 4px 2px; text-indent:2em; text-align:justify; margin-bottom:10px}
.debug strong{color:#690; font-weight:normal;}
.debug span{color:#F30}
.game_features{position:absolute; left:9px; bottom:8px}
.game_features span{float:left; margin-right:12px; background:#369; color:#FFF; line-height:normal; padding:2px 6px; cursor:pointer}
.toggle{position:absolute; top:8px; right:0; padding:0 5px; line-height:normal; background:#FFF; color:#000; text-decoration:none; cursor:pointer}
.toggle .t_on{display:block}
.toggle .t_off{display:none}
.toggle_off .t_off{display:block}
.toggle_off .t_on{display:none}
.rights{position:absolute; width: 408px; right:0; bottom:0; text-align:right; padding:0 8px 8px 0; color:#FC9; background: #2E2E2E; display: none;}
.rights a{color: #95b3ff}
.mapwrap{height:416px; width:352px; padding:32px; background:url(../image/wall.png) repeat 0 0; position:absolute; left:50%; top:50%; z-index:2; margin:-240px 0 0 -208px; box-shadow:0 0 5px #FFF; border-radius:5px}
.map{height:352px; width:352px; background:url(../image/bg_map.png) repeat 0 0; position:relative}
.welcome{width:416px; height:480px; overflow:hidden; position:absolute; top:0; left:0; border-radius:5px; background:#2e2e2e; z-index:999999}
.loading{background:#2e2e2e url(../image/perloading.gif) no-repeat center center}
.chapter,.game_helper{padding:0 20px}
.chapter{margin-top:460px}
.page_wrap{width: 832px; overflow: hidden; zoom: 1; padding-top:10px}
.chapter{padding-top:20px}
.chapter p{text-indent:2em; margin-bottom:1em; line-height:1.8em}
.new_load{width: 236px; float: left; text-align:center}
.new_load .btn{margin-bottom:4px}
.new_load,.records{padding: 0 90px;}
.new_game,.records,.game_helper .back{display: none;}
.new_game{padding-top: 25px;}
.new_game input{height: 20px; padding: 2px; line-height: 20px; vertical-align: middle; border: 1px solid #6495ed; width: 120px;}
.game_helper{text-align:center; width: 376px; float: left; position: relative; zoom: 1}
.game_helper .back{position: absolute; top: 27px; left: 40px; font-size: 30px; font-weight: bold; color: #FFF; text-decoration: none; outline:none}
.btn{text-decoration:none; padding:0 12px; display: inline-block; zoom: 1; background:#F93; color:#FFF; height: 24px; line-height: 24px; vertical-align: middle;
    border-style:solid; border-width:1px; border-color:#ccc #ccc #999 #999}
.records{text-align: center; margin-top:-1px}
.records li{list-style: none; height:22px; line-height:22px; margin-bottom:6px; background:#eaeaed; color: #363636}
.records li a{display:block; height:100%}
.setting{display:none;}
.save_load{position: absolute; right: 9px; bottom: 2px;}
.game_speed,.save_load .btn{vertical-align:middle;}

/*弹出层*/
.pop_wrap{height:352px; width:352px; position:absolute; z-index:99; left:32px; top:32px}
.dialog_box,.dialog_arrow_up,.dialog_arrow_down{border:1px #F90 solid; background:#FFC}
.dialog_box{border-radius:6px; color:#603; position:absolute; width:100%; opacity:0.9; filter:alpha(opacity=90)}
.dialog_box p,.dialog_box .continue{padding:6px 16px}
.dialog_box .continue,.fc .continue{color:#093}
.dialog_box .continue,.ft .fenemy .row{text-align:right}
.dialog_arrow_up,.dialog_arrow_down{height:10px; width:10px; display:block; font-size:0; line-height:0; position:absolute; -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.dialog_arrow_up{bottom:-7px; border-width:0 1px 1px 0}
.dialog_arrow_down{top:-6px; border-width:1px 0 0 1px}
.dialog_box em,.debug em{font-style:normal; color:#06F}
.dialog_box ul{list-style:none; overflow:hidden; zoom:1}
.showMessage{padding:12px 12px 0}
.fighting_box{height:100%; width:100%; position:absolute; left:50%; top:50%; margin:-50% 0 0 -50%; background:#FFF; border-radius:5px; box-shadow:0 0 15px #F00; display:none}
.ft,.fc{margin:15px}
.ft,.enemyTable{overflow:hidden; zoom:1; background:url(../image/bg_map.png) repeat 0 0; position:relative}
.ft .fvs{width:60px; height:60px; line-height:60px; font-size:50px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; color:#F00; text-align:center; position:absolute; top:50%; left:50%; margin:-30px 0 0 -30px}
.fplayer,.fenemy{float:left; width:140px; padding:10px 10px 4px}
.fplayer .player_down,.fenemy .block,.enemyTable .block{position:static}
.fplayer .player_down{float:left}
.fenemy .block{float:right}
.ft .row{padding-top:4px; clear:both}
.fc p,.fc .continue,.enemyTable table,.shop_box,.use_fzlp li{text-align:center}
.fc p{font-size:24px; color:#F00; padding:20px 0}
.shopName,.npcName{color:#C00}
.shopKey{color:#03C}
.shop_box{margin:0 16px; padding:6px 0; border:1px #003 solid}
.shop_box li,.use_fzlp li{height:20px; line-height:20px; border-width:1px; border-style:solid; border-color:#FFC}
.shop_box li.selected,.use_fzlp li.selected{border-color:#EEE #888 #888 #EEE; background:#CCC}
.shop_box ul span{color:#F00}
.enemyTable{margin:12px 10px 0; padding:6px 4px; height:310px; overflow:auto}
.enemyTable table{color:#FFF}
.enemyTable table .block{margin:0 auto}
.use_fzlp h3{text-align:center; font-size:16px; padding-top:14px}
.use_fzlp ul{padding-left:30px}
.use_fzlp li{float:left; width:70px; margin-bottom:2px}
.selectItem{padding:6px 60px 0}
.block,.key{background-image:url("./../image/resources_image.png"); background-repeat:no-repeat;}
.frame2 .block,.frame2 .key{background-image:url("./../image/resources_image_2.png") !important;}
/*属性面板*/
.info{position:absolute; width:390px; height:70px; left:50%; margin-left:-195px; bottom:10px; border:2px #F93 solid; border-radius:6px; background:#66F; overflow:hidden; zoom:1; display:none;}
.info_col{float:left; height:70px}
.info_col p{height:20px; line-height:20px}
.info_col_1 p,.info_col_2 p{margin-top:10px;}
.info_col_1{width:50px; border-right:1px #F93 solid}
.info_col_1 p{text-align:right; margin-right:6px}
.info_col_2{width:288px}
.info_col_2 p,.info_col_3 p{margin-left:6px; overflow:hidden; zoom:1}
.info_col_2 p span{float:left; margin-right:10px}
.info_col_3{width:50px; border-left:1px #F93 solid}
.info_col_3 p{margin-top:2px}
.info_col_3 p span{display:block}
.info p strong{font-weight:normal;}
.key{padding-left:26px}
.yellow_key_icon{background-position:-300px -80px; color:yellow}
.blue_key_icon{background-position:-300px -100px; color:blue}
.red_key_icon{background-position:-300px -120px; color:red}

/*玩家*/
.block{height:32px; width:32px; position:absolute; z-index:9;}
.player_up,.player_down,.player_left,.player_right{z-index:10}
.player_up{background-position:-288px 0}
.player_down{background-position:-256px 0}
.player_left{background-position:-256px -32px}
.player_right{background-position:-288px -32px}

/*NPC*/
.angle{background-position:-32px 0}
.jack{background-position:0 0}
.princess{background-position:-128px 0}
.smlr_03,.smlr_16,.shop_e_l,.shop_e_h{background-position:-64px 0}
.sr_03,.sr_16,.shop_key_sell,.shop_key_buy{background-position:-96px 0}
.shop_left{background-position:-160px 0}
.shop_m_l,.shop_m_h{background-position:-192px 0}
.shop_right{background-position:-224px 0}

/*障碍物*/
.wall{background-position:0 -32px}
.sky{background-position:-32px -32px}
.fire{background-position:-64px -32px}
.gold_door{background-position:-96px -32px}
.red_door{background-position:-192px -32px}
.yellow_door{background-position:-128px -32px}
.blue_door{background-position:-160px -32px}
.fence{background-position:-224px -32px}
.go_up{background-position:0 -64px}
.go_down{background-position:-32px -64px}

/*物品*/
.yellow_key{background-position:-64px -64px}
.blue_key{background-position:-96px -64px}
.red_key{background-position:-128px -64px}
.keyList{background-position:-160px -64px}
.sgh{background-position:-192px -64px}
.smszj{background-position:-224px -64px}
.blue_stone{background-position:-64px -96px}
.red_stone{background-position:-96px -96px}
.blue_potions{background-position:0 -96px}
.red_potions{background-position:-32px -96px}
.ssp{background-position:-128px -96px}
.xgsl{background-position:-160px -96px}
.sword_1,.sword_2{background-position:-192px -96px}
.tiedun{background-position:-224px -96px}
.fzlp{background-position:0 -128px}
.hjd{background-position:-32px -128px}
.jinbidai{background-position:-64px -128px}
.xiaofeiyu,.dafeiyu{background-position:-96px -128px}

/*怪物*/
.enemy_01{background-position:0 -160px}
.enemy_02{background-position:-32px -160px}
.enemy_03{background-position:-64px -160px}
.enemy_04{background-position:-96px -160px}
.enemy_05{background-position:-128px -160px}
.enemy_06{background-position:-160px -160px}
.enemy_07{background-position:-192px -160px}
.enemy_08{background-position:-224px -160px}
.enemy_09{background-position:-256px -160px}
.enemy_10{background-position:-288px -160px}
.enemy_11{background-position:0 -192px}
.enemy_12{background-position:-32px -192px}
.enemy_13{background-position:-64px -192px}
.enemy_14{background-position:-96px -192px}
.enemy_15{background-position:-128px -192px}
.enemy_16{background-position:-160px -192px}
.enemy_17{background-position:-192px -192px}
.enemy_18{background-position:-224px -192px}
.enemy_19{background-position:-256px -192px}
.enemy_20{background-position:-288px -192px}
.enemy_21{background-position:0 -224px}
.enemy_22{background-position:-32px -224px}
.enemy_23{background-position:-64px -224px}
.enemy_24{background-position:-96px -224px}
.enemy_25{background-position:-128px -224px}
.enemy_26{background-position:-160px -224px}
.enemy_27{background-position:-192px -224px}
.enemy_28{background-position:-224px -224px}
.enemy_29{background-position:-256px -224px}
.enemy_30{background-position:-288px -224px}
.enemy_31{background-position:0 -256px}
.enemy_32{background-position:-32px -256px}
.enemy_33{background-position:-64px -256px}
